applications:

  nextjs:
    source:
      root: nextjs
    type: nodejs:24
    dependencies:
      nodejs:
        pnpm: "*"
    build:
      flavor: none

    hooks:
      build: |
        set -ex
        pnpm install
        pnpm run build
        mv .next .next-built

      deploy: |
        set -ex
        touch .next/build-tree-id
        if [ "$(< .next/build-tree-id)" != "$PLATFORM_TREE_ID" ]; then
          cp -Rs $PWD/.next-built/* .next
          echo -n "$PLATFORM_TREE_ID" > .next/build-tree-id
        fi

    web:
      commands:
        pre_start: |
          touch .next/build-tree-id
          if [ "$(< .next/build-tree-id)" != "$PLATFORM_TREE_ID" ]; then
            echo >&2 "Waiting for deployment to complete"
            while [ "$(< .next/build-tree-id)" != "$PLATFORM_TREE_ID" ]; do sleep 1; done
          fi
        start: pnpm run start -p "$PORT"

      locations:
        /:
          root: public
          passthru: true

    mounts:
      .next:
        source: storage


  directus:
    source:
      root: directus
    type: nodejs:20
    disk: 1024

    relationships:
      database: "postgresql:postgresql"

    hooks:
      build: |
        npm install

    web:
      commands:
        start: npx directus start
      locations:
        "/":
          passthru: true

    mounts:
      /directus/uploads:
        source: local
        source_path: uploads

    variables:
      env:
        DB_CLIENT: pg
        DIRECTUS_HOST: "0.0.0.0"
        DIRECTUS_PORT: "8055"
        STORAGE_LOCAL_ROOT: "/directus/uploads"


services:
  postgresql:
    type: postgresql:15


routes:
  "https://{default}/":
    type: upstream
    upstream: "nextjs:http"

  "https://{default}/api/":
    type: upstream
    upstream: "directus:http"
